.service {
  margin-top: 5px;
  max-width: 380px;
  width: 100%;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.serviceItem {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0186a0;
}
.icons {
  font-size: 30px;
  color: #0186a0;
}
.serviceItem > p {
  font-size: 12px;
}
